/* Header */

#header-logo, 
.skin-blue .wrapper .main-header .navbar.navbar-static-top{
  background-color:#012A4A;
  cursor: pointer;
}


#header-logo:hover {
    background: #01243f;
}

#toggle-button:hover {
   background-color: #01243f; 
}

/* side */

/* Cambiar el color de fondo del sidebar */
#sidebarCollapsed {
  background-color: #013B63;
  /* Color de fondo */
}

  /* Cambiar el color del texto de los elementos del menú */
  .skin-blue .main-sidebar .sidebar-menu a {
    color: white;
    /* Color del texto de los elementos */
  }


 /* Cambiar el color de fondo del elemento activo y el texto */
 .skin-blue .main-sidebar .sidebar-menu .active a {
   background-color: #01487C;
   /* Color de fondo del elemento activo */
   color: white;
   /* Color del texto del elemento activo */
 }

 /* Cambiar el color de fondo cuando pasas el ratón sobre los elementos */
 .skin-blue .main-sidebar .sidebar-menu a:hover {
   background-color:#01243f ;
   /* Color de fondo al pasar el ratón */
   color: white;
   /* Color del texto al pasar el ratón */
 }


/* Body */

#DataTables_Table_0_wrapper {
  color: white !important;
}

 /* Fondo del cuerpo principal (detrás de las cajas) */
 .content-wrapper,
 .right-side { 
   background-color: #01243f;
   
   /* Ajusta este color según tus preferencias */
 }

 /* Fondo de las cajas */
 .box {
   background-color: #012A4A;
   border-color: #0c0c31;
   color: white;
 }

 .box.box-solid.box-primary {
    border: 1px solid #01487C;
  }

 /* Fondo de los encabezados de las cajas */
 .box.box-solid.box-primary .box-header {
   background-color: #01487C;
   color: white;
 }

/*  */

.selectize-control.single .selectize-input,.selectize-control.single .selectize-input input {
  cursor: pointer;
  background-color: #2A6F98 !important ;
  color: white;

}

.selectize-control.single .selectize-input.input-active,.selectize-control.single .selectize-input.input-active input:not(:read-only) {
  cursor: red;
}

/* Estilos para todos los menús desplegables con la clase shiny-input-select */
.shiny-input-select {
  background-color: #024F87; /* Fondo del menú desplegable */
  color: white;           /* Color del texto */
  border: 1px solid #032f5e; /* Borde del desplegable */
  font-size: 16px;           /* Tamaño de la fuente */
  padding: 5px;
  border-radius: 5px;
}

/* Estilos para las opciones dentro de cualquier menú desplegable con la clase shiny-input-select */
.shiny-input-select .option {
  background-color: #2A6F98; /* Fondo de cada opción */
  color: white;            /* Color del texto de las opciones */
}

/* Efecto hover para las opciones del menú desplegable */
.shiny-input-select .option:hover {
  background-color: #01243f; /* Cambia el fondo al pasar por encima de una opción */
  color: white;              /* Cambia el color del texto */
}

#tableData .dataTables_wrapper{
  color: white;
}

table.dataTable.compact thead th,table.dataTable.compact thead td,table.dataTable.compact tfoot th,table.dataTable.compact tfoot td,table.dataTable.compact tbody th,table.dataTable.compact .dataTables_wrapper tbody td {
    padding: 4px;
    color: white;
}

table.dataTable th,table.dataTable td {
    box-sizing: content-box
}

#DataTables_Table_3_wrapper.dataTables_wrapper {
    position: relative;
    clear: both;
    color: white;
}